.logo {
padding: 40px 0;
font: bold 24px/31px pt_serif, arial, helvetica, sans serif;
}

.logo__circle {
 width: 28px;
 height: 28px;
 border: dashed 1px red;
}

.logo__circle_color_blue {
 left: 8px;
 top: 56%;
}

.logo__circle_color_dark-blue {
 background: #0056EC;
}

.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 background: #C8DBFB;
}
