.title {
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  margin: auto;
  width: 80%;
  }
.header {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}

.header {
 padding: 40px 0;
 display: flex;
 justify-content: space-between;
}


.logo {
// padding: 40px 0;
// font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
 width: 190px;
 height: 35px;
// border: dashed 1px red;
 background: red;
 background: url('img/logo.svg');
}
